[Desktop Entry]
Comment[ru_RU]=
Comment=
Exec=/home/levovix/code/DMusic/build-Desktop-Debug/DMusic
GenericName[ru_RU]=Медиа плеер
GenericName=Медиа плеер
Icon=/home/levovix/code/DMusic/resources/application.svg
MimeType=
Name[ru_RU]=DMusic
Name=DMusic
Path=/home/levovix/code/DMusic/build-Desktop-Debug
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
Version=1.0
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
